<div class="w-screen h-screen flex items-center justify-center">
    <form 
        class="shadow-xl rounded-2xl p-4  border border-slate-800" 
        >
        <h2 class="text-center pb-4 text-white">Login</h2>
        <input 
            (input)="handleChange($event,'email')"
            type="text" 
            placeholder="Email"
            class="text-white focus:outline-none w-full bg-transparent border border-slate-800 p-2 rounded-lg mb-4" />
        <input 
            (input)="handleChange($event,'password')"
            type="password" 
            placeholder="Password" 
            class="text-white focus:outline-none w-full bg-transparent border border-slate-800 p-2 rounded-lg mb-2" />
        <div 
            (click)="handleAnonymousLogin()"
            class="text-right text-white hover:text-slate-400 cursor-pointer mb-4" 
            >Continue as a guest?</div>
        <div class="text-red-500 text-sm text-center mb-2">{{ errorMessage }}</div>
        <button 
            type="submit"
            (click)="handleSubmit($event)"
            class="w-full py-2 px-4 border border-slate-800 rounded-lg transition duration-500 text-white ">Login</button>
        <div class="w-full flex justify-center">
            <p class="text-sm my-3 border border-slate-800 w-8 h-8 rounded-full flex items-center justify-center text-white">Or</p>
        </div>
        <button 
            type="submit"
            (click)="handleGoogleLogin($event)"
            class="w-full py-2 px-4 border border-slate-800 rounded-lg transition duration-500 text-white ">Login in with google</button>
    </form>

</div>